<ion-header primary>
  <ion-navbar hideBackButton="true">
    <ion-title *ngIf="!inSearch">Meal deals</ion-title>
    <ion-buttons *ngIf="!inSearch" end>
      <button ion-button ion-icon type="search" (click)="inSearch = !inSearch">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only (click)="presentFilter()">
        <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
      </button>
    </ion-buttons>
    <ion-toolbar *ngIf="inSearch" no-border-top>
      <form (ngSubmit)="submitSearch($event)">
        <ion-searchbar name="search" color="primary" placeholder="Search deals ..." [(ngModel)]="searchTerm">
        </ion-searchbar>
      </form>
      <ion-buttons end>
        <button ion-button ion-icon type="button" (click)="onSearchCancel()">
        <ion-icon name="close"></ion-icon>
      </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <deal-list [deals]="deals" [hasChanged]="hasChanged" [pageNumber]="pageNumber">
  </deal-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingText="Loading more deals...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>