<ion-header>
  <ion-nav>
    <ion-title>Meal deal</ion-title>
    <ion-buttons *ngIf="!inSearch" end>
      <button ion-button (click)="newShare()">  
        <ion-icon name="restaurant"></ion-icon>   
      </button>
      <button ion-button ion-icon type="search" (click)="launchSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-nav>
</ion-header>

<ion-content padding>
  <page-deals *ngIf="!connected">
  </page-deals>
  <page-login *ngIf="connected">
  </page-login>
</ion-content>